.menu ul{
	margin: 0;
	padding-left: 0;
	list-style-type: none;
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

.menu a{
	display: block;
	padding: 5px 10px;
	padding-right: 40px;
	padding-left: 40px;
	text-decoration: none; 
	color: #888888;
	font-size: 20px;

}

.menu a:hover{
	color: #27496d;
}

.menu li{
	margin-left: 10px;
	margin-right: 10px;
}

a.is-current{
	color: #27496d;
	border-bottom: 1px solid #27496d;
}